/* navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
/* home */
#home{
    height: 500px;
    padding: 1px 2px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
/*  services section*/
#services{
    flex-direction: column;
}
#services .box img {
    height: 139px;
}    
/* client section */
clients{
   flex-wrap: wrap;
}
clients img{
   height: auto;
}

.client-items img {
    height: 46px;
    padding: 9px;
}
/* contact us section */
/* footer */
/* utility class */
.h-primary{
    font-size: 26px;
    padding: 3px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}